/* paylyt-platform/frontend/src/App.css */

body {
  background-color: #121212; /* Dark background */
  color: #ffffff; /* White text */
  font-family: 'sans-serif';
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}
